<header>
    <h1>Krtkova osobná stránka</h1>
    <nav>
        <ul id="navigation">
            <li><a href="index.html" class="first">Domov</a></li>
            <li><a href="seminare.html">Semináre &raquo;</a>
                <ul>
                    <li><a href="https://ksp.sk">KSP</a></li>
                    <li><a href="https://fks.sk">FKS</a></li>
                    <li><a href="https://pikofyz.sk">Pikofyz</a></li>
                    <li><a href="https://ufo.fks.sk">UFO</a></li>
                    <li><a href="https://prask.ksp.sk">PRASK</a></li>
                </ul>
            </li>
            <li><a href="rocnikovy_projekt.html">Škola &raquo;</a>
                <ul>
                    <li><a href="https://votr.uniba.sk/">Votr</a></li>
                    <li><a href="https://candle.fmph.uniba.sk/rozvrh/krtko">Môj rozvrh</a></li>
                    <li><a href="rocnikovy_projekt.html">Ročníkový Projekt</a></li>
                </ul>
            </li>
            <li><a href="">LaTeX generátory &raquo;</a>
                <ul>
                    <li><a href="https://krtko1.gitlab.io/povolenie-na-konanie-hromadnej-akcie-na-fmfi-uk">Povolenie FMFI UK</a></li>
                    <li><a href="https://gitlab.com/krtko1/dgs">DGS</a></li>
                </ul>
            </li>
            <li><a href="kontakt.html" class="last">Kontakt</a></li>
        </ul>
    </nav>
</header>
<main>
