    <h2>Diplomová práca</h2>

    <p>
        Názov projektu: Filtrovanie systémových volaní
    </p>
    <p>
        Študent: Matej Novota
    </p>
        <address>
            <a href="mailto:novota9@uniba.sk">novota9@uniba.sk</a>
        </address>
    <p>
        Školiteľ: Ing. Dušan Bernát, PhD.
    </p>
        <address>
            <a href="mailto:dusan.bernat@fmph.uniba.sk">dusan.bernat@fmph.uniba.sk</a>
        </address>
    <p>
        Konzultant: 
    </p>
    <p>
        Kód: 
    </p>
    <p>
        Report: 
    </p>
    <h3>Stručný popis projektu:</h3>
    <p>
        Cieľom projektu je ...
    </p>
    <h4>1. Fáza</h4>
    <p>
        TODO
    </p>