    <h2>Kam ďalej?</h2>

	  <div class="slides">
		<a href="seminare.html"class="slider"><picture>
			<source srcset="seminare.webp" type="image/webp">
			<source srcset="img/seminare.png" type="image/png"> 
			<img src="img/seminare.png" alt="Semináre">
		</picture></a>
		<a href="rocnikovy_projekt.html"class="slider"><picture>
			<source srcset="rocnikovy_projekt.webp" type="image/webp">
			<source srcset="img/rocnikovy_projekt.png" type="image/png"> 
			<img src="img/rocnikovy_projekt.png" alt="Ročníkový projekt">
		</picture></a>
		<a href="kontakt.html"class="slider"><picture>
			<source srcset="kontakt.webp" type="image/webp">
			<source srcset="img/kontakt.png" type="image/png"> 
			<img src="img/kontakt.png" alt="Kontakt">
		</picture></a>
	  </div>
