<h2>Kontakt</h2>

    <address>
        <a href="mailto:matej.novota+web@gmail.com">matej.novota@gmail.com</a><br>
        <a href="tel:+421917740327">+421 917 740 327</a>
    </address>
    <h3>
        Ak mi chcete niečo poslať, prípadne ma nájsť osobne:
    </h3>
    <address>
        KSP, KVI FMFI UK<br>
        Mlynská dolina<br>
        842 48 Bratislava<br>
        Slovakia<br>
        <br>
        Konkrétne miestnosť T2<br>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238.3003296192037!2d17.07098996732464!3d48.1497590879987!2m3!1f333.2022471910113!2f44.86327808006313!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x0%3A0x33ca8abbb6668476!2sFMFI%20UK%2C%20pavil%C3%B3n%20matematiky!5e1!3m2!1ssk!2ssk!4v1573385848904!5m2!1ssk!2ssk" style="border:0; height: 450px; width: 90%; margin: auto" allowfullscreen=""></iframe>
    </address>
