    <h2>Ročníkový projekt</h2>

    <p>
        Názov projektu: Project Deadlock
    </p>
    <p>
        Študent: Matej Novota
    </p>
        <address>
            <a href="mailto:novota9@uniba.sk">novota9@uniba.sk</a>
        </address>
    <p>
        Školiteľ: RNDr. Richard Ostertág, PhD.
    </p>
        <address>
            <a href="mailto:ostertag@dcs.fmph.uniba.sk">ostertag@dcs.fmph.uniba.sk</a>
        </address>
    <p>
        Konzultant: Adam Dej
    </p>
    <p>
        Kód: <a href="https://gitlab.com/project-deadlock/">https://gitlab.com/project-deadlock/</a>
    </p>
    <p>
        Report: <a href="report.pdf">report.pdf</a>
    </p>
    <h3>Stručný popis projektu:</h3>
    <p>
        Cieľom projektu je práca na projekte Deadlock, je to systém zariadení zodpovedných za autentifikáciu
        používateľa (napríklad pomocou RFID kariet, PIN kódov, …) a za umožnenie vstupu  do miestností alebo
        ovládania ostatných zariadení.
    </p>
    <h4>1. Fáza</h4>
    <p>
        Zoznámenie sa s projektom. Rozbehanie všetkých vecí potrebných na ďalší vývoj. Analýza kódu kontrolera.
    </p>
    <h4>2. Fáza</h4>
    <p>
        Opravenie chýb v kóde kontrolera, pravdepodobne pôjde o jeho úplné prepísanie.
    </p>

    <h3>Stav po zimnom semestri</h3>
    <p>
        Vzhľadom na nečakané komplikácie som sa tento semester venoval hlavne oprave drobných chýb v návrhu plošných spojov, hľadaniu súčiastok a firiem čo osádzajú plošné spoje.
        Plánom však stále ostáva do začiatku letného semestra mať plne funkčný základný kód dočasného kontrolera, ktorý môže byť použitý v dočasnej prevádzke.
        Ktorá začne ideálne čím skôr po schválení financií. V druhom semestri by som rád pracoval na finálnom kóde nového kontrolera.
    </p>
    <h3>Plán na letný semester</h3>
    <ul>
        <li>9.3. Nahranie nového programu a testovanie základných funkcii.</li>
        <li>23.3. Pokročilé testovanie, pravdepodobne automatizované, necháme pustené pár dní.</li>
        <li>6.4. Písanie programu na novú dosku kontrolera.</li>
        <li>13.4. Velká noc, necháme si čas keby sme boli v sklze :-)</li>
        <li>20.4. Pravdepodobne ešte budem písať program na novú dosku, a možno ju aj konečne osadíme.</li>
        <li>27.4. Debugovanie nového programu, testovanie.</li>
        <li>4.5. Možný redizajn novej dosky alebo optimalizácia programu.</li>
        <li>11.5. Dokončovanie detailov novej dosky alebo finalizácia programu./</li>
        <li>18.5. Rezervný čas keby sme boli v sklze alebo sa rozhodli prerábať dosku.</li>
        <li>25.5. Rezervný čas keby sme boli v sklze alebo sa rozhodli prerábať dosku..</li>
        <li>1.6. Plne funkčná nová doska kontrolera, posledné testovanie.</li>
    </ul>
    <h3>Stav po letnom semstri</h3>

    <p>Nová doska je osadená a plne funkčná. Ostáva vyriešiť update firmware cez sieť a otestovať POE napájanie. Viac v <a href="report.pdf">reporte</a>.</p>
