
.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.slides {
	margin: 2rem;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;



    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: #7DFF00;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > * {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.slides > portal:target {
/*   transform: scale(0.8); */
}

.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.slider > a:active {
    top: 1px;
}

.slider > a:focus {
    background: #000;
}

picture > * {
	object-fit: fill;
}

body {
    background: linear-gradient(180deg, #7DFF00 20%, #F9FFCF 20%) no-repeat fixed;
    height: 100%;
    background-size: cover;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

main, header {
    border: none;
    padding-top: 0px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px -5px #000;
}

p {
    padding: 0 20px;
    text-align: justify;
}

main {
    background-color: white;
    width: 35%;
    min-width: 685px;
    min-height: 1000px;
}

header {
    background: url(krtko.svg) no-repeat;
    background-position: 15% 10px;
    padding-top: 100px;
    background-color: white;
    width: 25%;
    min-width: 635px;
}

header h1 {
    margin: 0 5% 150px auto;
    background: none;
    text-align:center;
    width: 270px;
    height:90px;
    padding: 10px;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 34px;
    line-height: 135%;
}

h2 {
    padding: 10px;
    background-color: #aaff33;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 34px;
    line-height: 135%;
}

h3 {
    padding: 2px;
    background-color: #aaff33;
    text-align: center;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 135%;
    font-size: 1.27em;
}

h4 {
    padding: 2px;
    color: #62c400;
    text-align: center;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 135%;
    font-size: 1.47em;
}

h5 {
    padding: 10px;
    display: block;
    font-size: 1.17em;
}

nav {
    padding: 0px;
    height: 75px;
    position:relative;
    clear:both;
}

ul#navigation {
    position:relative;
    float: left;
    padding-left: calc(50% - 266px);
    margin-left: auto;
    margin-right: auto;

}

ul#navigation li {
    display:inline-flex;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
    float: left;
    position:relative;
}

ul#navigation li a {
    padding:10px 25px;
    color: white;
    text-decoration:none;
    display:inline-block;
    background:#616161;
    transition:color 0.2s linear, background 0.2s linear;
}

ul#navigation li a:hover {
    background: #e2e2e2;
    color:#282828;
}

ul#navigation li:hover > a {
    background: #e2e2e2;
    color:#282828;
}

ul#navigation li:hover > ul {
    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#616161;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul {
    top: 34px;
    left: 0px;
}

ul#navigation ul li ul {
    top: -1px;
    left: 180px;
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-top:1px solid #c9c9c9;
}

ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:white;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}

address {
    text-align: center;
}

address a, p a {
    text-decoration: none;
    color: #62c400;
}

address a:hover, p a:hover {
    color: #7DFF00;
}

a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 15px 0;
    font-size: 18px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: white;
}

.cards {
    display: flex;
    padding: 2rem;
    overflow-x: auto;
}

.card {
    background: white;
    border-radius: 1rem;
    box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
    width: 169px;
    height: 169px;
}

.card:not(:first-child) {
    margin-left: -3.85rem;
}


.card:last-child:hover,
.card:not(:last-child):hover,
.card:not(:last-child):focus-within {
    transform: translateY(-1rem);
}
.card:not(:last-child):hover ~ .card,
.card:not(:last-child):focus-within ~ .card {
    transform: translateX(2rem);
}

@media only screen and (max-width: 768px) {
    main, header{
        width: 80%;
        min-width: 300px;
    }

    nav {
        height: auto;
    }

    ul#navigation {
        float: none;
        padding: 25px;
        text-align: center;
    }

    ul#navigation li {
        display: block;
        float: none;
        text-align: center;
        min-width: 200px;
    }
    ul#navigation li a {
        display: block;
        float: none;
        text-align: left;
        min-width: 200px;
    }
    ul#navigation ul, ul#navigation ul li ul {
        opacity: 1;
        visibility: initial;
        position: relative;
        top:0;
        width:100%;
        left:0;
    }
    ul#navigation ul li {
        border:0 none;
    }
    ul#navigation ul li a {
        padding-left: 3rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(180deg, #1A1A1A 20%, #0E0E0E 20%) no-repeat fixed;
        color: #E8E8E8;
    }
    main, header, footer {
        background-color: black;
    }

    h2, h3 {
        background-color: #242424;
    }
    ul#navigation li a:hover, ul#navigation li:hover > a {
        background: #646464;
        color: white;
    }
    ul#navigation ul, ul#navigation ul li ul, ul#navigation li a {
        background: #0d0d0d;
    }
    address a, p a {
        color: #7DFF00;
    }
    address a:hover, p a:hover {
        color: #aaff33;
    }
    h4 {
        color: #7DFF00;
    }
}
